a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: #fff !important;
}

.top-bar,
.bot-bar {
    position: fixed;
    left: 0;
    z-index: 998;
}

.top-bar {
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    padding: 2vh 3vh 1vh 3vh;
    margin: 0px auto;
}

.bot-bar {
    height: 20vh;
    width: 100%;
    top: 500px;
    background-color: rgba(15, 87, 135, 0.75);
    font-family: 'Titillium Web';
    text-align: center;
    color: #fff;
}

.bot-bar p {
    font-size: 1rem;
    margin: 1vh 0;
    padding: 0 12vw;
}


.bot-bar strong {
    font-size: 1.25rem;
}

#prev-button,
#next-button {
    position: fixed;
    z-index: 999;
    border: none;
    width: 12vw;
    height: 12vh;
    top: 60vh;
    background-color: rgba(15, 87, 135, 0.75);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.75);
}

#prev-button {
    left: 0;
}

#next-button {
    right: 0;
}

#scene {
    
}

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

@media (orientation: landscape) {
    .logo {
        width: 10vw;
    }
    button{
        width: 8vw;
    }    
}
@media (orientation: portrait) {
    .logo {
        width: 20vw;
    }
    button{
        width: 12vw;
    }    
}
