a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}

.top-bar,
.bot-bar {
    position: absolute;
    left: 0;
    z-index: 998;
}

.top-bar {
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    padding: 2vh 3vh 1vh 3vh;
    margin: 0px auto;
}

.bot-bar {
    width: 100%;
    top: 500px;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: rgb(15, 87, 135);
}

.bot-bar p {
    font-size: 1rem;
    margin: 1vh 0;
    padding: 0 12vw;
}

.a-switch-view {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    color: rgb(15, 87, 135);
    width: 100%;
    font-weight: 200;
    line-height: 16px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.a-switch-view-button {
    position: absolute;
    left: 0;
    border: 0;
    bottom: 0;
    cursor: pointer;
    min-width: 58px;
    min-height: 34px;
    padding: 0px 6px 1px 6px;
    background: rgba(0, 0, 0, 0.20);
    transition: background-color .05s ease;
    -webkit-transition: background-color .05s ease;
    z-index: 9999;
    touch-action: manipulation; /* Prevent iOS double tap zoom on the button */
    color: #fff;
    text-align: center;
    user-select: none;
    outline: none;
    border-radius: 7px;
}

.a-switch-view-button:active,
.a-switch-view-button:hover,
.a-enter-ar-button:active,
.a-enter-ar-button:hover,
.a-enter-vr-button:active,
.a-enter-vr-button:hover  {
  background-color: rgb(15, 87, 135) !important;
}


#prev-button,
#next-button {
    position: absolute;
    z-index: 999;
    border: none;
    width: 12vw;
    height: 12vh;
    top: 60vh;
    background-color: rgba(15, 87, 135, 0.75);
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.75);
}

#prev-button {
    left: 0;
}

#next-button {
    right: 0;
}

@media (orientation: landscape) {
    .logo {
        width: 10vw;
    }
    /* button{
        width: 8vw;
    }     */
}
@media (orientation: portrait) {
    .logo {
        width: 20vw;
    }
    /* button{
        width: 12vw;
    }     */
}
